<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="WEBHost" value="http://localhost:8022/"/>
    <add key="WEB_preview_img" value="http://192.168.1.10:8022/include/defaultimg.jpg"/>
    <add key="WEB_user_head_pic" value="http://58.216.18.35:8778/include/user_head_pic.jpg"/>
  </appSettings>
  <connectionStrings>
    <add name="DBBase" connectionString="Data Source=(local)\sql2008r2;Initial Catalog=OKBase;Persist Security Info=True;User ID=sa;Password=iloveyou" providerName="System.Data.SqlClient" />
    <add name="DBUser" connectionString="Data Source=(local)\sql2008r2;Initial Catalog=OKuser;Persist Security Info=True;User ID=sa;Password=iloveyou" providerName="System.Data.SqlClient" />
    <add name="DBSchool" connectionString="Data Source=(local)\sql2008r2;Initial Catalog=OKschool;Persist Security Info=True;User ID=sa;Password=iloveyou" providerName="System.Data.SqlClient" />
    <add name="DBSyllabus" connectionString="Data Source=(local)\sql2008r2;Initial Catalog=OKSyllabus;Persist Security Info=True;User ID=sa;Password=iloveyou" providerName="System.Data.SqlClient" />
    <add name="DBZiyuan" connectionString="Data Source=(local)\sql2008r2;Initial Catalog=OKZiyuan;Persist Security Info=True;User ID=sa;Password=iloveyou" providerName="System.Data.SqlClient" />
    <add name="DBSchoolCourse" connectionString="Data Source=(local)\sql2008r2;Initial Catalog=OKschoolCourse;Persist Security Info=True;User ID=sa;Password=iloveyou" providerName="System.Data.SqlClient" />
    <add name="OKBaseEntities" connectionString="metadata=res://*/DBBase.DBBase.csdl|res://*/DBBase.DBBase.ssdl|res://*/DBBase.DBBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\sql2008r2;initial catalog=OKBase;user id=sa;password=iloveyou;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DBUserEntities" connectionString="metadata=res://*/DBUser.DBUser.csdl|res://*/DBUser.DBUser.ssdl|res://*/DBUser.DBUser.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\sql2008r2;initial catalog=OkUser;user id=sa;password=iloveyou;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DBSchoolEntities" connectionString="metadata=res://*/DBSchool.DBSchool.csdl|res://*/DBSchool.DBSchool.ssdl|res://*/DBSchool.DBSchool.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\sql2008r2;initial catalog=OkSchool;user id=sa;password=iloveyou;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DBSyllabusEntities" connectionString="metadata=res://*/DBSyllabus.DBSyllabus.csdl|res://*/DBSyllabus.DBSyllabus.ssdl|res://*/DBSyllabus.DBSyllabus.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\sql2008r2;initial catalog=OKSyllabus;user id=sa;password=iloveyou;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DBZiyuanEntities" connectionString="metadata=res://*/DBZiyuan.DBZiyuan.csdl|res://*/DBZiyuan.DBZiyuan.ssdl|res://*/DBZiyuan.DBZiyuan.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\sql2008r2;initial catalog=OKZiyuan;user id=sa;password=iloveyou;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DBSchoolCourseEntities" connectionString="metadata=res://*/DBSchoolCourse.DBSchoolCourse.csdl|res://*/DBSchoolCourse.DBSchoolCourse.ssdl|res://*/DBSchoolCourse.DBSchoolCourse.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\sql2008r2;initial catalog=OkSchoolCourse;user id=sa;password=iloveyou;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="10485760" executionTimeout="720" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
         <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
   </security>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SchoolBaseSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="SchoolBaseSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:32224/schoolbase.asmx" binding="basicHttpBinding"
        bindingConfiguration="SchoolBaseSoap" contract="SchoolBaseServer.SchoolBaseSoap"
        name="SchoolBaseSoap" />
      <!--<endpoint address="http://localhost:8022/schoolbase.asmx" binding="customBinding"
        bindingConfiguration="SchoolBaseSoap12" contract="SchoolBaseServer.SchoolBaseSoap"
        name="SchoolBaseSoap12" />-->
    </client>
  </system.serviceModel>
</configuration>
